<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <a href="/">HOME</a>
        <a href="/favorite">favorite</a>
       </header>
       <main>
        <form action="/update/?_method=PUT" method="POST">
            <input type="text" name="name"> NAME:<%=viewKey.name%>
            <input type="text" name="img"> IMG:<%=viewKey.img%>
            <input type="text" name="level"> LEVEL:<%=viewKey.level%>
        
            <button type="submit">UPDATE</button>
        </form>
    
        <form action="/delete/?_method=DELETE" method="POST">
        
            <button type="submit">DELETE</button>
        </form>
       </main>
       <footer>
           
       </footer>
 
    
</body>
</html>