<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">HOME</a>
        <a href="/favorite">favorite</a>
       </header>
       <main>
           <ul>

               <%favKey.forEach(data=>{%>
                   <li>  NAME:<%=favKey.name%></li>
                   <li>  IMG: <img src="<%=favKey.img%>"> </li>
                   <li>  LEVEL:<%=favKey.level%></li>
               <%})%>
           </ul>
       </main>
       <footer>
           
       </footer>
</body>
</html>